.base {
  margin: 30px 0;
}

/* ----- Add area ----- */
.add-area {
  margin: 20px 0;
  padding-bottom: 20px;
}

.add-area .add {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ----- Display panel ----- */

.list-unstyled li{
  margin: auto;
  width: calc(100% - 50%);
}

.modal-body form{
  margin: 0 5%;
}
.modal-body label:first-child{
  font-weight: 600;
}

/* ----- Add Entry ----- */
.show-count{
  width: 300px;
}


